<%= render @person %>

<div>
  <% unless @person.member? %>
    <%= link_to "Invite this person", new_user_invitation_path %> |
  <% end %>
  <%= link_to "Edit this person", edit_person_path(@person) %> |
  <%= link_to "Back to people", people_path %>

  <%= button_to "Destroy this person", @person, method: :delete, class: "btn btn-secondary" %>
</div>
