<!DOCTYPE html data-theme="corporate">
<html>
  <head>
    <title><%= content_for(:title) || "Adventure Money" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="preload" as="font" href="roboto-mono.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="roboto-mono-ext.woff2" type="font/woff2" crossorigin>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %> <%# erblint:disable ErbSafety %>
  </head>

  <body class="min-h-[100vh-4rem]">
    <%= render "shared/navbar" %>

    <main>
      <%= render "shared/alerts" %>

      <%= yield %>
    </main>
  </body>
</html>
