<!DOCTYPE html>
<html lang="en" data-theme="emerald">
  <head>
    <title><%= content_for(:title) || "Adventure Money" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "shared/favicons" %>

    <%= yield :head %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %> <%# erblint:disable ErbSafety %>
  </head>

  <body class="min-h-[100vh-4rem]">
    <%= render HeaderComponent.new %>

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="relative isolate overflow-hidden pt-20">
        <%= yield %>
      </div>
      <%# <div class="relative isolate overflow-hidden pt-16"> %>
        <!-- Secondary navigation -->
        <%# <%= render SecondaryNavComponent.new(account: {name: "Groceries"}) %>

        <!-- Summary -->
        <%# <%= render AccountSummaryComponent.new(account: {name: "Groceries"}) %>
      <%# </div> %>

      <%# <div class="space-y-16 py-16 xl:space-y-20"> %>
        <!-- Recent activity table -->
        <%# <%= render RecentActivityTableComponent.new %>

        <!-- Recent account list-->
        <%# <%= render RecentAccountListComponent.new %>
      <%# </div> %>
    </main>
  </body>
</html>
