<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= @page_title || "Adventure Money" %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Board game collection manager">
  <meta name="author" content="Yetrina Battad">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "/application" %>
  <%= javascript_include_tag "/application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<div class="container">
  <%= render "shared/nav" %>
  <div class="p-sm-2">
    <%= render "shared/flash" %>
    <%= yield %>
  </div>
</div>
</body>
</html>
