<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) %> Adventure Money</title>
    <meta charset="utf-8">
    <meta name="description" content="Adventure Money is a personal finance app that helps you track shared expenses.">
    <meta name="keywords" content="personal finance, shared expenses, money, budget">
    <meta name="author" content="Yetrina Battad">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= render "shared/favicons" %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
